body {
    background-color: #F0F0F0;
    padding: 0;
    font-family: 'abel',sans-serif;
}

.container {
    padding: 0;
}

.container-fluid{
    background-color: #F0F0F0;
    padding: 0;
}

.navbar, .navbar-expand-lg, .bg-light {
    padding: 0;
}

.nav-icon {
    height: 105px;
    width: 105px;
}

.page-heading {
    padding: 50px;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.location {
    font-size: 30px;
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 25px;
    margin-top: -50px;
}

.circle-row {
    display: flex;
    justify-content: center;

}

.red-circle {
    background: #E6563B;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 10px solid white;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.orange-circle {
    background: #EB9D3A;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 10px solid white;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;

}

.green-circle {
    background: #7CB06C;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 10px solid white;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;

}

.aqua-circle {
    background: #00ABA9;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 10px solid white;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;

}

hr {
    margin: 60px 60px;
}

.the-last{
    text-align: center;
    margin-bottom: 50px;
}
.apple-laptop {
    max-width: 100%;
    height: auto;
}
.macbook{
    max-width: 100%;
    height: auto;
}
.man{
    max-width: 100%;
    height:auto;
}
.security{
    max-width: 100%;
    height: auto;
}
.apple-laptop {
    height: auto;
    width: 100%;
    border: 10px solid #E6E6E6;
    margin-bottom: 10px;
}

.macbook {
    height: auto;
    width: 100%;
    border: 10px solid #E6E6E6;
    margin-bottom: 10px;
}

.man {
    height: auto;
    width: 100%;
    border: 10px solid #E6E6E6;
    margin-bottom: 10px;
}

.security {
    height: auto;
    width: 100%;
    border: 10px solid #E6E6E6;
    margin-bottom: 10px;
}
.red {
    background: #E6563B;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
}
/*width: 500px;*/
/*height: 500px;*/
/*line-height: 500px;*/
/*border-radius: 50%;*/
/*font-size: 50px;*/
/*color: #fff;*/
/*text-align: center;*/
/*background: #000;*/

.orange {
    background: #EB9D3A;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2px;

}

.green {
    background: #7CB06C;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2px;

}

.aqua {
    background: #00ABA9;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2px;

}
.featured-project{
    font-size: 18px;
    margin-right: auto;
    width: auto;

}
.buttons{
    width: auto;
    margin-left: auto;
    margin-right: 12px;
}
.img-thumbnail{
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: left;
    margin-right: 10px;
}
.the-last-column{
    font-size: larger;
    font-weight: bolder;
    font-family: 'Anton',sans-serif;

}

@media screen and (min-width:1200px) {
    .red-circle,.green-circle,.orange-circle,.aqua-circle{
        margin: 5px;
    }
}

.selected-work{
    margin-bottom: 50px;
    text-align: center;
}

.mobile-phone, .head, .ipad{
    display: flex;
    justify-content: right;
    margin-bottom: 20px;

}

@media screen and (min-width:576px)  and (max-width: 768px) {
    .the-last-info{
        display: none;
    }
}